<%- include('../parts/header') %>

<form action="/<%=uid%>/<%=sid%>" method="POST">
<%survey.questions.forEach((qobj,idx)=>{ %>
<h1>
    <%= qobj['question'] %>
</h1>
<select name="q<%=idx%>">
<% for (let [key] of Object.entries(qobj['answer'])) { %>
 <option value="<%=key%>"><%=key%></option>   
    <%  } %>

</select>

    <% }) %>
    <% if(parseInt(pre)) { %>
<button>submit</button>
<% } %>
</form>
</body>