<script defer src="/javascripts/hideShow.js"></script>


<form action="/new" method="GET">
<button>Make Survey</button>
</form>
<%  if(user.surveys.length >0) { %>
<% for(let x = 0; x < user.surveys.length; x++){ %>
    <h3 id="<%= x %>"> <%= user.surveys[x].name %><div>^</div></h3>
<div class="hidden">
 <table>
    <tr>
        <td>
            <form action="/show/<%=user.googleId%>/<%= user.surveys[x]._id %>/0" method="GET"><button>Preview Survey</button></form>
        </td>
        <td>
            <form action="/<%= user.surveys[x]._id %>/edit" method="GET"><button>Edit</button></form>
        </td>
        <td>
            <form action="/<%= user.surveys[x]._id %>?_method=DELETE" method="POST"><button>Delete</button></form>
        </td>
        <td>
            <a href="/show/<%=user.googleId%>/<%= user.surveys[x]._id %>/1" target="_black">Link to Take <%=user.surveys[x].name%></a>
        </td>
        <td>
            <label> Link to Api: 
            <input type="text" value="https://surveyapiandcharts.herokuapp.com/api/<%=user.googleId%>/<%= user.surveys[x]._id %>">
            </label>
        </td>
    </tr>
</table>
<div id="graphs"></div>
</div>
<% }} else { %>
<p>Make a survey to start.</p>
<% } %>
</body>