<script defer src="/javascripts/hideShow.js"></script>
<%  if(user.surveys.length >0) { %>
<% for(let x = 0; x < user.surveys.length; x++){ %>
    <h3 id="<%= x %>"> <%= user.surveys[x].name %><div>^</div></h3>
<div class="hidden">
 <table>
    <tr>
        <td>
            <form action="/<%= user.surveys[x]._id %>/edit" method="GET"><button>Edit</button></form>
        </td>
        <td>
            <form action="/<%= user.surveys[x]._id %>?_method=DELETE" method="POST"><button>Delete</button></form>
        </td>
        <td>
            <form action="/show/<%=user.googleId%>/<%= user.surveys[x]._id %>" target="_black"><button>Link to Take <%=user.surveys[x].name%></button></form>
        </td>
        <td>
                <label> Link to <br> Take Survey:
                <input type="text" value="https://surveyapiandcharts.herokuapp.com/show/<%=user.googleId%>/<%= user.surveys[x]._id %>" readonly>
                </label>
            </td>
        <td>
            <label> Link to  <br> Api:
            <input type="text" value="https://surveyapiandcharts.herokuapp.com/api/<%=user.googleId%>/<%= user.surveys[x]._id %>"readonly>
            </label>
        </td>
    </tr>
</table>

<% user.surveys[x].questions.forEach((q)=>{ %>
<div class="graphs">
<% var forGraph = [0,0];%>
<% for(let [key,value] of Object.entries(q.answer)) { %>
<% forGraph[0]++; forGraph[1]+=parseInt(value); %>
<% } %>
<%var lineString = []; var keyStringLG = [];%>
<% var keyString = 'Key: * '; var gradString ='linear-gradient(0deg, white 50%, transparent 50%)'; var deg=0; var colors = ['red','blue','green','purple']%>
<% for(let [key,value] of Object.entries(q.answer)) { %>
<% var currentColor = colors.pop(); %>
<% keyString += `${key}: ${value}: ${currentColor} * `;%>
<% var currentPercent=(parseInt(value)/forGraph[1]); %> 
<% deg += (currentPercent*180);%>
<% gradString += `, linear-gradient(${deg}deg, ${currentColor} 50%, transparent 50%)`%>
<% lineString.push(`background-color: ${currentColor}; height: ${currentPercent*100}%; width: 20px;`) %>
<% keyStringLG.push(`${key}: ${value}: `) %>
<% console.log(lineString);%>
<% } %>
<h4 style="text-align: center; grid-column: span 2;"><%=q.question%></h4>
<div>
<%keyString = keyString.split('*');%>
<%keyString.forEach((k)=>{ %>
<h6><%= k %></h6>
<% }) %>
<div class="pieChart" style="background-image: <%=gradString%>" ></div>
</div>
<div class="LineGraph">
<% lineString.forEach((style,idx)=>{%>
<div style = "<%= style %>"></div>
<%}) %>
</div>
</div>
<%})%>
</div>
<% }} else { %>
<p>Make a Survey And Get Started</p>
<form action="/new" method="GET">
<button>Make Survey<br></button>
</form>
<p>Once Your Survey is Made You Will Be Able:</p>
<p>Send your Surveys to Firends, Family, or Anyone!</p>
<p>The Results of your Survey Can Be Veiwed or Sent as an API.</p>
<% } %>
</body>